<div class="content">
	<div class="content-box">
		<ul>
			<li id="logo">google logo</li>
		<form action="#" method="POST">
			<ul>
				<li>
					<input type="text">
				</li>
				<li id="button">
					<input type="submit" value="Google Search">
					<input type="submit" value="I'm Feeling Lucky">
				</li>
		</form>
	</div>


</div>